<div
    class="modal fade"
    tabindex="-1"
    aria-hidden="true"
    data-booking-target="modal"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Voulez-vous vraiment annuler cette réservation ?</h5>
                <button type="button" class="btn-close" aria-label="Close" data-action="click->booking#hide"></button>
            </div>
            {{ form_start(formDelete, {'action': path('my-bookings')}) }}
            <div class="modal-body">
                Vous ne pourrez plus la revoir après
                {{ form_widget(formDelete.id, {'attr' : {'data-booking-target': 'delete'}}) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-action="click->booking#hide">Non je ne veux pas !
                </button>
                <button type="submit" class="btn btn-danger" data-action="click->booking#hide">
                    Annuler la réservation
                </button>
            </div>
            {{ form_end(formDelete) }}
        </div>
    </div>
</div>