{% block body %}
    {% if imageNames is not empty %}
        <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for key in imageNames|keys %}
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="{{ key }}" class="active" aria-current="true" aria-label="Slide {{ key + 1 }}"></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for key, image in imageNames %}
                    <div class="carousel-item {% if key == 0 %}active{% endif %}">
                        <img src="{{ asset('build/' ~ image) }}" alt="{{ image }}" class="d-block w-100 rounded">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% endif %}
{% endblock %}