{% block body %}
    <turbo-frame id="content">
        <div id="message_stream">
        </div>
        <h1>À Propos</h1>
        <span {{ stimulus_controller('loader') }}>
            <span class="spinner-border text-primary visually-hidden ms-3" role="status" data-loader-target="loader">
                <span class="visually-hidden">Chargement...</span>
            </span>
        </span>
        <hr>
        <p>
            Pour toutes questions vous pouvez nous contacter à l'adresse suivante : ncornec@neuf.fr
        </p>
    </turbo-frame>
{% endblock %}