{% block body %}
    <turbo-frame id="content">
        <div id="message_stream">
        </div>
        <h1>Réservation</h1>
        <span {{ stimulus_controller('loader') }}>
            <span class="spinner-border text-primary visually-hidden ms-3" role="status" data-loader-target="loader">
                <span class="visually-hidden">Chargement...</span>
            </span>
        </span>
        <hr>
        {% if app.user %}
            Cliquez sur le calendrier pour faire une demande de réservation
            <br>
            Légende :
            <span class="badge bg-success">Valdée</span>
            <span class="badge bg-danger">Refusée</span>
            <span class="badge bg-warning text-dark">En Attente</span>
            {% if is_granted('ROLE_ADMIN') == false and is_granted('ROLE_SUPER_ADMIN') == false %}
                <span class="badge bg-primary">Autres réservations</span>
            {% endif %}
            <hr>
            <br>
            <div {{ stimulus_controller('calendar') }}
                data-calendar-user-value="{% if app.user %}true{% else %}false{% endif %}">
                <div data-calendar-target="output">
                </div>
                {% include 'pages/booking/modal_booking.html.twig' %}
            </div>
        {% else %}
            Vous devez vous connecter pour pouvoir faire une demande de réservation.
        {% endif %}
    </turbo-frame>
{% endblock %}