{% block body %}
    <turbo-frame id="content">
        <div id="message_stream">
        </div>
        <h1>Modifier son profile</h1>
        <span {{ stimulus_controller('loader') }}>
            <span class="spinner-border text-primary visually-hidden ms-3" role="status" data-loader-target="loader">
                <span class="visually-hidden">Chargement...</span>
            </span>
        </span>
        <hr>
        {{ form_start(form, {'action': path('edit-profile')}) }}
           {{ form_row(form.email) }}
           {{ form_row(form.firstName) }}
           {{ form_row(form.lastName) }}
           {{ form_row(form.phoneNumber) }}

           <button type="submit" class="btn btn-primary">Sauvegarder</button>
        {{ form_end(form) }}
    </turbo-frame>
{% endblock %}
