{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}


{% block body %}
    <div class="wrapper fadeInDown">
        <div id="formContent">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div id="message_stream">
            </div>
            <form method="post">
                <input type="email" class="fadeIn second" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" required autofocus>
                <input type="password" name="password" class="fadeIn third" id="inputPassword" placeholder="Mot de passe" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="submit" class="fadeIn fourth" value="Se Connecter">
            </form>

            <!-- Remind Passowrd -->
            {#<div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>#}

            {#Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>#}
        </div>
    </div>
{% endblock %}