{% block body %}
    <turbo-frame id="content">
        <div id="message_stream">
        </div>
        <h1>Mes réservations</h1>
        <span {{ stimulus_controller('loader') }}>
            <span class="spinner-border text-primary visually-hidden ms-3" role="status" data-loader-target="loader">
                <span class="visually-hidden">Chargement...</span>
            </span>
        </span>
        <hr>
        Légende :
        <span class="badge bg-success">Valdée</span>
        <span class="badge bg-danger">Refusée</span>
        <span class="badge bg-warning text-dark">En Attente</span>
        <span class="badge bg-secondary">Passée</span>
        <hr>
        <div class="d-flex flex-row flex-wrap max-width1500" {{ stimulus_controller('booking') }}>
            {% if bookingList is empty %}
                <div class="p-2">
                    <div class="card">
                        <div class="card-header">
                            Vous n'avez pas effectué de réservation pour le moment,
                        </div>
                        <div class="card-body">
                            <a href="{{ path('booking') }}"> Effectuez un réservation</a> pour la voir apparaître ici !
                        </div>
                    </div>
                </div>
            {% else %}
                {% for booking in bookingList %}
                    {% if booking.dateEnd|date("U") < "now"|date("U") %}
                        {% set past = true %}
                        {% set color = constant('App\\Model\\BookingStatusModel::PAST_BTCOLOR') %}
                    {% else %}
                        {% set past = false %}
                        {% set color = constant('App\\Model\\BookingStatusModel::' ~ booking.status.name ~ '_BTCOLOR') %}
                    {% endif %}

                    <div class="p-2" id="booking-{{ booking.id }}">
                        <div class="card">
                            <div class="card-header bg-{{ color }}">
                                Du {{ booking.dateStart|date("d/m/Y") }} au {{ booking.dateEnd|date("d/m/Y") }}
                            </div>
                            <div class="card-body">
                                <p class="card-text">Nombre de personne(s) : {{ booking.numberOfPeople }}</p>
                                {% if past == false and booking.status.name not in constant('App\\Model\\BookingStatusModel::REFUSED') %}
                                    <div data-action="click->booking#show" booking-id="{{ booking.id }}" class="btn btn-danger">Annuler</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% include 'pages/my-booking/modal_delete_booking.html.twig' %}
            {% endif %}
        </div>
    </turbo-frame>
{% endblock %}