{% block body %}
    <turbo-frame id="content">
        <div id="message_stream">
        </div>
        <h1>Présentation</h1>
        <span {{ stimulus_controller('loader') }}>
            <span class="spinner-border text-primary visually-hidden ms-3" role="status" data-loader-target="loader">
                <span class="visually-hidden">Chargement...</span>
            </span>
        </span>
        <hr>
        <div class="d-flex flex-row flex-wrap" id="presentation">
            <div class="p-2">
                <h3>Rdc :</h3>
                <ul>
                    <li>Pièce principale, cuisine équipée (four micro-ondes, lave-vaisselle, plaques vitrocéramiques)</li>
                    <li>Chambre avec 1 lit 2 personnes (140)</li>
                    <li>1 WC</li>
                    <li>1 sdb avec baignoire</li>
                    <li>1 lave-linge</li>
                </ul>
                <h3>Étage :</h3>
                <ul>
                    <li>Mezzanine avec un canapé convertible (140) + TV (TNT)</li>
                    <li>Chambre avec 1 lit 2 personnes (160), transformable en 2 lits 1 personne</li>
                    <li>1 salle d'eau avec douche et WC</li>
                </ul>
                <h3>Extérieur :</h3>
                <ul>
                    <li>Table et chaises</li>
                    <li>2 transats</li>
                    <li>barbecue et plancha</li>
                    <li>voile d'ombrage</li>
                </ul>
            </div>
            <div class="p-2" id="carousel">
                {% include 'pages/presentation/carousel.html.twig' %}
            </div>
        </div>
    </turbo-frame>
{% endblock %}