{% block body %}
    <turbo-frame id="content">
        <div id="message_stream">
        </div>
        <h1>S'inscrire</h1>
        <span {{ stimulus_controller('loader') }}>
            <span class="spinner-border text-primary visually-hidden ms-3" role="status" data-loader-target="loader">
                <span class="visually-hidden">Chargement...</span>
            </span>
        </span>
        <hr>

        {{ form_start(registrationForm, {'action': path('register')}) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.firstName) }}
            {{ form_row(registrationForm.lastName) }}
            {{ form_row(registrationForm.phoneNumber) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </turbo-frame>
{% endblock %}
