{% block body %}
    <turbo-frame id="content">
        <div id="message_stream">
        </div>
        <h1>
            Bienvenue !
        </h1>
        <span {{ stimulus_controller('loader') }}>
            <span class="spinner-border text-primary visually-hidden ms-3" role="status" data-loader-target="loader">
                <span class="visually-hidden">Chargement...</span>
            </span>
        </span>
        <hr>

        <h3>La résidence</h3>
        <p>
            La résidence « Les Maisons du Lac » est composée de 63 pavillons, en bordure d'un lac, au cœur d'un environnement calme et préservé.
            <br>
            Elle est idéalement située : à 250 m de la plage, à 150 m du golf, à 1,5 km du centre animé estival, et à 2,5 kms du bourg historique.
            <br>
            Vous trouverez à 10 minutes en voiture une zone commerciale (Hypermarchés, magasin de bricolage...)
        </p>

        <h3>La station</h3>
        <p>
            Entre sable blanc, dunes, forêts de pins et marais salants, Saint Jean de Mont, station balnéaire de la Côte Vendéenne, est idéale pour des vacances en famille dans la nature.
            <br>
            La station propose des baignades et des pistes cyclables très sûres.
            <br>
            Saint jean de Monts propose de nombreuses infrastructures et parcs d'attraction pour les enfants : barbotez toute l'année dans son centre aquatique sport et loisirs Océabul.
            <br>
            Découvrez l'univers magique des dauphins au Parc animalier Planète Sauvage, ou laissez vos enfants s'éclater dans le complexe ludique de l'Ile aux jeux,
            <br>
            proposant jeux gonflables, structure tubulaire, trampolines, piscine à balles, ...
        </p>

        <h3>Les activités</h3>
        <ul>
            <li>Pêche en mer</li>
            <li>Voile</li>
            <li>Char à voile</li>
            <li>Catamaran</li>
            <li>Randonnées équestres</li>
            <li>Pistes cyclables</li>
            <li>Parc Aventure dans les arbres</li>
            <li>Thalassothérapie</li>
            <li>Plage</li>
        </ul>

        <h3>A découvrir</h3>
        <ul>
            <li>La route du Sel</li>
            <li>L’Île de Noirmoutier</li>
            <li>Le zoo des Sables d'Olonne</li>
            <li>Le Puy du Fou</li>
            <li>Le Marais Poitevin</li>
            <li>L’Île d'Yeu</li>
            <li>Pornic</li>
        </ul>
    </turbo-frame>
{% endblock %}