<div
    class="modal fade"
    tabindex="-1"
    aria-hidden="true"
    data-admin-target="modal"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Voulez-vous vraiment <span data-admin-target="status"></span> cette réservation ?</h5>
                <button type="button" class="btn-close" aria-label="Close" data-action="click->admin#hide"></button>
            </div>
            {{ form_start(formUpdate, {'action': path('admin_booking')}) }}
            <div class="modal-body">
                Vous pourrez continuer de changer son statut par la suite.
                {{ form_widget(formUpdate.id, {'attr' : {'data-admin-target': 'updateId'}}) }}
                {{ form_widget(formUpdate.status.name, {'attr' : {'data-admin-target': 'updateStatus'}}) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-action="click->admin#hide">Non je ne veux pas !
                </button>
                <button type="submit" class="btn btn-success" data-action="click->admin#hide">
                    Oui effectuer la modification
                </button>
            </div>
            {{ form_end(formUpdate) }}
        </div>
    </div>
</div>