{% block body %}
    <turbo-frame id="content">
        <div id="message_stream">
        </div>
        <h1>Gérer les réservations</h1>
        <span {{ stimulus_controller('loader') }}>
            <span class="spinner-border text-primary visually-hidden ms-3" role="status" data-loader-target="loader">
                <span class="visually-hidden">Chargement...</span>
            </span>
        </span>
        <hr>
        Légende :
        <span class="badge bg-success">Valdée</span>
        <span class="badge bg-danger">Refusée</span>
        <span class="badge bg-warning text-dark">En Attente</span>
        <hr>
        <div class="d-flex flex-row flex-wrap max-width1500" {{ stimulus_controller('admin') }}>
            {% if bookingList is empty %}
                <div class="p-2">
                    <div class="card">
                        <div class="card-body">
                            Il n'y a pas de réservation en attente pour le moment.
                        </div>
                    </div>
                </div>
            {% else %}
                {% for booking in bookingList %}
                    {% set color = constant('App\\Model\\BookingStatusModel::' ~ booking.status.name ~ '_BTCOLOR') %}
                    <div class="p-2" id="booking-{{ booking.id }}">
                        <div class="card">
                            <div class="card-header bg-{{ color }}">
                                Du {{ booking.dateStart|date("d/m/Y") }} au {{ booking.dateEnd|date("d/m/Y") }}
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Nom : {{ booking.user.fullName }}
                                    <br>
                                    Email : {{ booking.user.email }}
                                    <br>
                                    Téléphone : {{ booking.user.phoneNumber }}
                                    <br>
                                    Nombre de personne(s) : {{ booking.numberOfPeople }}
                                </p>
                                {% if booking.status.name in [constant('App\\Model\\BookingStatusModel::CREATED'), constant('App\\Model\\BookingStatusModel::REFUSED')] %}
                                    <div data-action="click->admin#validate" booking-id="{{ booking.id }}" class="btn btn-success">Valider</div>
                                {% endif %}
                                {% if booking.status.name in [constant('App\\Model\\BookingStatusModel::CREATED'), constant('App\\Model\\BookingStatusModel::VALIDATED')] %}
                                    <div data-action="click->admin#refuse" booking-id="{{ booking.id }}" class="btn btn-danger">Refuser</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% include 'admin/booking/modal_update_booking.html.twig' %}
            {% endif %}
        </div>
    </turbo-frame>
{% endblock %}