<div
    class="modal fade"
    tabindex="-1"
    aria-hidden="true"
    data-calendar-target="modal"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Demande de réservation</h5>
                <button type="button" class="btn-close"
                        data-action="click->calendar#hideModal"
                        aria-label="Close"></button>
            </div>
            {{ form_start(bookingForm, {'action': path('booking')}) }}
                <div class="modal-body">
                    {{ form_row(bookingForm.numberOfPeople) }}
                    {{ form_label(bookingForm.dateStart) }}
                    {{ form_widget(bookingForm.dateStart, {'attr': {'data-calendar-target': 'dateStart'}}) }}
                    {{ form_label(bookingForm.dateEnd) }}
                    {{ form_widget(bookingForm.dateEnd, {'attr': {'data-calendar-target': 'dateEnd'}}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-action="click->calendar#hideModal">Fermer
                    </button>
                    <button type="submit" class="btn btn-primary" data-action="click->calendar#hideModal">
                        Demander une réservation
                    </button>
                </div>
            {{ form_end(bookingForm) }}
        </div>
    </div>
</div>