@import '~bootstrap/scss/bootstrap';

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

#center-content {
    margin-left: 10px;
}

#carousel {
    width: 700px;
}

.modal-body button {
    display: none;
}

.max-width1500 {
    max-width: 1500px;
}

footer {
    z-index: 1;
}

input {
    max-width: 500px;
}

h1 {
    display: inline;
}

