<turbo-stream action="update" target="message_stream">
    <template>
        <div class="alert alert-{{ type }}" role="alert">
            {{ message }}
        </div>
    </template>
</turbo-stream>