<turbo-stream action="update" target="booking-{{ booking.id }}">
    <template>
        {% set color = constant('App\\Model\\BookingStatusModel::' ~ booking.status.name ~ '_BTCOLOR') %}
        <div class="card">
            <div class="card-header bg-{{ color }}">
                Du {{ booking.dateStart|date("d/m/Y") }} au {{ booking.dateEnd|date("d/m/Y") }}
            </div>
            <div class="card-body">
                <p class="card-text">
                    Nom : {{ booking.user.fullName }}
                    <br>
                    Email : {{ booking.user.email }}
                    <br>
                    Téléphone : {{ booking.user.phoneNumber }}
                    <br>
                    Nombre de personne(s) : {{ booking.numberOfPeople }}
                </p>
                {% if booking.status.name in [constant('App\\Model\\BookingStatusModel::CREATED'), constant('App\\Model\\BookingStatusModel::REFUSED')] %}
                    <div data-action="click->admin#validate" booking-id="{{ booking.id }}" class="btn btn-success">Valider</div>
                {% endif %}
                {% if booking.status.name in [constant('App\\Model\\BookingStatusModel::CREATED'), constant('App\\Model\\BookingStatusModel::VALIDATED')] %}
                    <div data-action="click->admin#refuse" booking-id="{{ booking.id }}" class="btn btn-danger">Refuser</div>
                {% endif %}
            </div>
        </div>
    </template>
</turbo-stream>
{% include 'stream/alert.stream.html.twig' %}