{% extends 'base.html.twig' %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="d-flex flex-wrap-reverse">
        <div class="p-2">
            <h4>Liens utiles</h4>
            <p><a href="https://www.saintjeandemonts.fr/" target="_blank">Mairie de Saint-Jean-de-Monts</a></p>
            <p><a href="https://www.saint-jean-de-monts.com/" target="_blank">Office de Tourisme</a></p>
            <p><a href="https://www.golfsaintjeandemonts.fr/" target="_blank">Golf</a></p>
            <p><a href="http://www.thalasso.com/thalasso/les-destinations/saint-jean-de-monts" target="_blank">Thalasso</a></p>
        </div>
        <div id="center-content" class="p-2 flex-grow-1">
            <turbo-frame id="content" src="{{ path('welcome') }}">
                <div class="text-center text-primary m-5">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </turbo-frame>
        </div>
    </div>
    <div class="p-4"></div>
    {% include 'footer.html.twig' %}
{% endblock %}