{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" {{ stimulus_controller('navbar') }}>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a data-navbar-target="pages" class="nav-link active" href="{{ path('welcome') }}" data-turbo-frame="content" data-action="click->navbar#changeActive">
                            Accueil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-navbar-target="pages" class="nav-link" aria-current="page" href="{{ path('presentation') }}" data-turbo-frame="content" data-action="click->navbar#changeActive">
                            Présentation
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-navbar-target="pages" class="nav-link" href="{{ path('booking') }}" data-turbo-frame="content" data-action="click->navbar#changeActive">
                            Réservation
                        </a>
                    </li>
                    {% if app.user %}
                    <li class="nav-item">
                        <a data-navbar-target="pages" class="nav-link" href="{{ path('my-bookings') }}" data-turbo-frame="content" data-action="click->navbar#changeActive">
                            Mes réservations
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a data-navbar-target="pages" class="nav-link" href="{{ path('about') }}" data-turbo-frame="content" data-action="click->navbar#changeActive">
                            À Propos
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')%}
                    <li class="nav-item">
                        <a data-navbar-target="pages" class="nav-link" href="{{ path('admin_booking') }}" data-turbo-frame="content" data-action="click->navbar#changeActive">
                            Administration
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav mr-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <div class="nav-link disabled" tabindex="-1" aria-disabled="true">
                            Bonjour {{ app.user.fullName }}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a data-navbar-target="pages" class="nav-link" data-turbo-frame="content" data-action="click->navbar#changeActive" href="{{ path('edit-profile') }}">
                            Mon Compte
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-navbar-target="pages" class="nav-link" href="{{ path('logout') }}">
                            Se déconnecter
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a data-navbar-target="pages" class="nav-link" href="{{ path('register') }}" data-turbo-frame="content" data-action="click->navbar#changeActive">
                            S'inscrire
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">
                            Se Connecter
                        </a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}