<h1>Votre réservation pour le Cosy Vendéen</h1>

Nous vous informons que votre demande de réservation a été {{ status }}.<br/>

Récapitulatif de votre réservation :<br />

<div style="background-clip: border-box; border: 1px solid rgba(0, 0, 0, 0.125);">
    <div style="padding: 0.5rem 1rem; border-bottom: 1px solid rgba(0, 0, 0, 0.125); background-color: {{ color }}">Du {{ booking.dateStart|date("d/m/Y") }} au {{ booking.dateEnd|date("d/m/Y") }}</div>
    <div style="padding: 1rem 1rem;">
        <p>
            Nom : {{ booking.user.fullName }}
            <br>
            Nombre de personne(s) : {{ booking.numberOfPeople }}
        </p>
    </div>
</div>

A bientôt, <br>
La famille Cornec.