<h1>Le Cosy Vendéen - Nouvelle réservation</h1>

Une nouvelle demande de réservation a été faite :

<div style="background-clip: border-box; border: 1px solid rgba(0, 0, 0, 0.125);">
    <div style="padding: 0.5rem 1rem; border-bottom: 1px solid rgba(0, 0, 0, 0.125); background-color: #0d6efd">
        Du {{ booking.dateStart|date("d/m/Y") }} au {{ booking.dateEnd|date("d/m/Y") }}
    </div>
    <div style="padding: 1rem 1rem;">
        <p>
            Nom : {{ booking.user.fullName }}
            <br>
            Email : {{ booking.user.email }}
            <br>
            Téléphone : {{ booking.user.phoneNumber }}
            <br>
            Nombre de personne(s) : {{ booking.numberOfPeople }}
        </p>
    </div>
</div>