<h1>Bonjour {{ fullName }}, bienvenue sur www.lecosyvendeen.fr</h1>

<p>
    Pour pouvoir vous connecter et effectuer une réservation,<br>
    vous devez d'abord confirmer votre email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.<br><br>
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    À bientôt !
    L'équipe du Cosy Vendéen.
</p>